In [1]:
import datetime as dt

# data analysis imports
import pymysql as msql
import pandas as pd
import numpy as np

# ml imports
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

from sklearn.feature_extraction.text import TfidfVectorizer

import pdb

% matplotlib inline

In [ ]:
"""
Tables
------
cb_acquisitions
cb_degrees
cb_funding_rounds
cb_funds
cb_ipos
cb_milestones
cb_objects
cb_offices
cb_people
cb_relationships
cb_investments
"""

### Helper Methods

In [2]:
def establish_connection():
    """
        Helper to establish connection with local mysql database. Returns cursor object. Publicly available
        dataset so password commits are ignored.
    """
    conn = msql.connect(host="localhost", user="root", password="startupmi", db="startupmi", 
                        cursorclass=msql.cursors.DictCursor)
    return conn.cursor()

In [3]:
def fetch_dataframe(cursor):
    """
        Helper to fetch from database and return pandas dataframe.
        
        Parameters
        ----------
        cursor : {pymysql.connection.cursor}
            primary cursor obj
    """
    return pd.DataFrame(cursor.fetchall())

### Data Ingestion
Create dataframes for all of the db tables.

In [4]:
crs = establish_connection()

In [5]:
crs.execute("select * from cb_objects")
df_objects = fetch_dataframe(crs)

In [6]:
crs.execute("select * from cb_investments_1")
df_investments = fetch_dataframe(crs)

In [28]:
crs.execute("select * from cb_relationships")
df_relationships = fetch_dataframe(crs)

In [30]:
crs.execute("select * from cb_acquisitions")
df_acquisitions = fetch_dataframe(crs)

crs.execute("select * from cb_degrees")
df_degrees = fetch_dataframe(crs)

crs.execute("select * from cb_funding_rounds")
df_funrnds = fetch_dataframe(crs)

crs.execute("select * from cb_funds")
df_funds = fetch_dataframe(crs)

crs.execute("select * from cb_investments_1")
df_investments = fetch_dataframe(crs)

crs.execute("select * from cb_ipos")
df_ipos = fetch_dataframe(crs)

crs.execute("select * from cb_milestones")
df_milestones = fetch_dataframe(crs)

crs.execute("select * from cb_objects")
df_objects = fetch_dataframe(crs)

crs.execute("select * from cb_offices")
df_offices = fetch_dataframe(crs)

crs.execute("select * from cb_people")
df_people = fetch_dataframe(crs)

crs.execute("select * from cb_relationships")
df_relationships = fetch_dataframe(crs)

### Transformations
Apply transformations to each of the transformations for dtype compatibility. Create additional dataframes where appropriate.

In [158]:
def acquisition_transform(df):
    """
        Method to transform acquisition dataframe for compatibility with remaining data set.
        
        Parameters
        ----------
        df : {pandas.DataFrame}
            acquisitons dataframe
    """
    # we trust master source (crunchbase) and we're not scraping source data
    # uninterested in creation/update dates
    drop_cols = ["source_url", "source_description", "created_at", "updated_at"]
    for col in drop_cols:
        df.drop(col, inplace=True, axis=1)
    
    # convert all decimal values to float for sklearn compatibility
    decimal_cols = ["price_amount"]
    for col in decimal_cols:
        df[col] = df[col].apply(lambda x: float(x) if x is not None else x)

In [160]:
acquisition_transform(df_acquisitions)

In [190]:
def degrees_transform(df, subject_ohe=False):
    """
        Method to transform degrees dataframe. All transformations are conducted on original dataframe.
        
        Parameters
        ----------
        df : {pandas.DataFrame}
            degrees dataframe
        
        subject_ohe : {bool}
            one hot encode subjects. default to False as degree subject might not necessarily be
            strong indicator of people success.
    """
    # uninterested in creation and update dates
    drop_cols = ["created_at", "updated_at"]
    for col in drop_cols:
        df.drop(col, inplace=True, axis=1)
    
    # significant date ranges for features
    
    df_degrees["subject"] = \
            df_degrees["subject"].apply(lambda x: [sub.strip() for sub in x.split(",")] if x is not None else [])
    
    if subject_ohe:
        # binary features for subjects (multiple subjects are grouped together)
        subject_store = set(sum(df_degrees.subject.tolist(), []))

        # OHE for each subject
        for subj in subject_store:
            df["is_%s" % subj] = df["subject"].apply(lambda x: 1 if subj in x else 0)

        df.drop("subject", inplace=True, axis=1)

In [ ]:
degrees_transform(df_degrees)

In [ ]:
def funds_transform(df):
    drop_cols = ["created_at", "updated_at", "source_description", "source_url"]
    for col in drop_cols:
        df.drop(col, inplace=True, axis=1)
    
    decimal_cols = ["raised_amount"]
    for col in decimal_cols:
        df[col] = df[col].apply(lambda x: float(x) if x is not None else x)

In [ ]:
funds_transform(df_funds)

In [ ]:
df_funds.head(2)

In [75]:
df_funrnds.head(2)

,created_at,created_by,funded_at,funding_round_code,funding_round_id,funding_round_type,id,is_first_round,is_last_round,object_id,...,post_money_valuation_usd,pre_money_currency_code,pre_money_valuation,pre_money_valuation_usd,raised_amount,raised_amount_usd,raised_currency_code,source_description,source_url,updated_at
0,2007-07-04 04:52:57,initial-importer,2006-12-01,b,1,series-b,1,0,0,c:4,...,None,None,None,None,8500000,8500000,USD,None,http://www.marketingvox.com/archives/2006/12/2...,2008-02-27 23:14:29
1,2007-05-27 06:08:18,initial-importer,2004-09-01,angel,2,angel,2,0,1,c:5,...,None,USD,None,None,500000,500000,USD,None,None,2013-06-28 20:07:23

In [66]:
df_funrnds.columns

Index([              u'created_at',               u'created_by',
                      u'funded_at',       u'funding_round_code',
               u'funding_round_id',       u'funding_round_type',
                             u'id',           u'is_first_round',
                  u'is_last_round',                u'object_id',
                   u'participants', u'post_money_currency_code',
           u'post_money_valuation', u'post_money_valuation_usd',
        u'pre_money_currency_code',      u'pre_money_valuation',
        u'pre_money_valuation_usd',            u'raised_amount',
              u'raised_amount_usd',     u'raised_currency_code',
             u'source_description',               u'source_url',
                     u'updated_at'],
      dtype='object')

In [223]:
empty_funds = df_company[df_company.funding_total_usd.apply(lambda x: x is None)]

In [224]:
empty_funds["object_id"] = empty_funds["id"]

/Users/siddhanthunnithan/.virtualenvs/document_classification/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [262]:
empty_funds[["object_id", "name", "funding_total_usd", "funding_rounds"]].join(
    df_funds[["object_id"]], on="object_id", how="inner", lsuffix="_1")

Empty DataFrame
Columns: [object_id_1, name, funding_total_usd, funding_rounds, object_id]
Index: []

### Main

In [7]:
df_company = df_objects[(df_objects.status != "operating") & (df_objects.entity_type == "Company")]

In [8]:
df_company.head(2)

,category_code,city,closed_at,country_code,created_at,created_by,description,domain,entity_id,entity_type,...,parent_id,permalink,region,relationships,short_description,state_code,status,tag_list,twitter_username,updated_at
1,games_video,Culver City,None,USA,2007-05-31 21:11:51,initial-importer,None,flektor.com,10,Company,...,None,/company/flektor,Los Angeles,6,None,CA,acquired,"flektor, photo, video",None,2008-05-23 23:23:14
2,games_video,San Mateo,None,USA,2007-08-06 23:52:45,initial-importer,,there.com,100,Company,...,None,/company/there,SF Bay,12,None,CA,acquired,"virtualworld, there, teens",None,2013-11-04 02:09:48

In [ ]:
"""
invested_companies => number of companies invested in; can cross referene with cb_investments

milestones => look at number and frequency of milestones

closed_at => remove from feature set as it is a perfect indicator of the closed class

state_code => unnecessary level of granularity

city => unnecessary level of granularity
"""

In [9]:
df_company.columns

Index([      u'category_code',                u'city',           u'closed_at',
              u'country_code',          u'created_at',          u'created_by',
               u'description',              u'domain',           u'entity_id',
               u'entity_type',    u'first_funding_at', u'first_investment_at',
        u'first_milestone_at',          u'founded_at',      u'funding_rounds',
         u'funding_total_usd',        u'homepage_url',                  u'id',
        u'invested_companies',   u'investment_rounds',     u'last_funding_at',
        u'last_investment_at',   u'last_milestone_at',         u'logo_height',
                  u'logo_url',          u'logo_width',          u'milestones',
                      u'name',     u'normalized_name',            u'overview',
                 u'parent_id',           u'permalink',              u'region',
             u'relationships',   u'short_description',          u'state_code',
                    u'status',            u'tag_list',    u'twitter_username',
                u'updated_at'],
      dtype='object')

In [10]:
# store names for future reference
name_index = df_company[["id", "normalized_name"]]
df_company.drop("normalized_name", inplace=True, axis=1)

/Users/siddhanthunnithan/.virtualenvs/document_classification/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [11]:
drop_cols = ["entity_type", "description", "first_milestone_at", "logo_url", "parent_id", "updated_at",
                 "created_at", "homepage_url", "investment_rounds", "last_milestone_at",
                 "logo_width", "permalink", "short_description", "closed_at", "created_by", "entity_id", "logo_height",
                 "twitter_username", "name", "domain"]
df_company_mod = df_company.drop(drop_cols, axis=1)

In [12]:
df_company_mod.columns

Index([      u'category_code',                u'city',        u'country_code',
          u'first_funding_at', u'first_investment_at',          u'founded_at',
            u'funding_rounds',   u'funding_total_usd',                  u'id',
        u'invested_companies',     u'last_funding_at',  u'last_investment_at',
                u'milestones',            u'overview',              u'region',
             u'relationships',          u'state_code',              u'status',
                  u'tag_list'],
      dtype='object')

In [13]:
df_investments["investor_class"] = df_investments.investor_object_id.apply(lambda x: x.split(":")[0])

In [14]:
# map investor class to new col in company df
inv_class_map = {"c":"num_comp_investors", "f":"num_fin_investors", "p":"num_ppl_investors"}

for cls in inv_class_map:
    inter_count = pd.DataFrame(
        df_investments[df_investments.investor_class == cls].groupby("funded_object_id").count()["investor_object_id"]).reset_index()
    inter_count.columns = ["object_id", inv_class_map[cls]]
    df_company_mod = df_company_mod.merge(inter_count, left_on="id", right_on="object_id", how="left")
    df_company_mod.drop("object_id", inplace=True, axis=1)
    
    # assign 0 for companies with 0 count
    df_company_mod[inv_class_map[cls]] = df_company_mod[inv_class_map[cls]].apply(lambda x: 0 if np.isnan(x) else x)

df_company_mod["total_investors"] = \
    df_company_mod["num_comp_investors"] + df_company_mod["num_fin_investors"] + df_company_mod["num_ppl_investors"]

In [15]:
df_company_mod.head()

,category_code,city,country_code,first_funding_at,first_investment_at,founded_at,funding_rounds,funding_total_usd,id,invested_companies,...,overview,region,relationships,state_code,status,tag_list,num_ppl_investors,num_comp_investors,num_fin_investors,total_investors
0,games_video,Culver City,USA,None,None,None,NaN,None,c:10,NaN,...,Flektor is a rich-media mash-up platform that ...,Los Angeles,6,CA,acquired,"flektor, photo, video",0,0,0,0
1,games_video,San Mateo,USA,None,None,None,NaN,None,c:100,NaN,...,There.com is an online virtual world where any...,SF Bay,12,CA,acquired,"virtualworld, there, teens",0,0,0,0
2,web,Mountain View,USA,2008-02-26,None,2007-10-01,1,5000000,c:1001,NaN,...,[FriendFeed](http://www.friendfeed.com) aims t...,SF Bay,14,CA,acquired,"socialnetwork, newsfeed, socialnetworkaggregator",2,0,1,3
3,games_video,None,None,None,None,2008-08-22,NaN,None,c:10012,NaN,...,moviestring.com provides a place for user to c...,unknown,1,None,closed,"movies, micro-reviews, micro-blogging",0,0,0,0
4,mobile,Palo Alto,USA,2008-09-01,None,2008-03-01,1,None,c:10014,NaN,...,Mobclix (www.mobclix.com) is the industry's la...,SF Bay,9,CA,acquired,"techcrunch50, tc50, iphone, analytics, free-de...",0,1,0,1

In [16]:
# null values across all columns
nan_count = pd.DataFrame(df_company_mod.isnull().sum())
nan_count.columns = ["nan_count"]
nan_count = nan_count.T

In [17]:
nan_count

,category_code,city,country_code,first_funding_at,first_investment_at,founded_at,funding_rounds,funding_total_usd,id,invested_companies,...,overview,region,relationships,state_code,status,tag_list,num_ppl_investors,num_comp_investors,num_fin_investors,total_investors
nan_count,2991,3662,3256,8013,12775,5728,7940,8549,0,12774,...,1074,0,4658,6008,0,2394,0,0,0,0

In [18]:
def delta_cols(dt_1, dt_2):
    """
        Compute days delta for date/time columns.
    """
    if dt_1 is None or dt_2 is None:
        return np.nan
    return (dt_2 - dt_1).days

In [19]:
# temporal features
td_dt = dt.date.today()

df_company_mod["age"] = df_company_mod.apply(lambda x: delta_cols(x["founded_at"], td_dt), axis=1)

df_company_mod["delta_funding"] = df_company_mod.apply(lambda x: delta_cols(x["last_funding_at"], x["first_funding_at"]),axis=1)

# skip investments for now

In [20]:
# clean continuous cols
df_company_mod["funding_rounds"] = df_company_mod["funding_rounds"].apply(lambda x: 0 if np.isnan(x) else x)

df_company_mod["funding_total_usd"] = df_company_mod["funding_total_usd"].apply(lambda x: 0.0 if x is None else x)

df_company_mod["milestones"] = df_company_mod["milestones"].apply(lambda x: 0 if np.isnan(x) else x)

df_company_mod["invested_companies"] = df_company_mod["invested_companies"].apply(lambda x: 0 if np.isnan(x) else x)

In [21]:
df_company_mod["success"] = df_company_mod["status"].apply(lambda x: 1 if x == "acquired" or x == "ipo" else 0)

In [22]:
# feature - number of successes (ipo or acquisition) across all investors

inv_cls_map = {"f": "fin_inv_successes", "c": "comp_inv_successes", "p": "ppl_inv_successes"}

for cls, colnm in inv_cls_map.iteritems():
    # group by investor id and funded object id
    inv_cls_filt = df_investments[df_investments.investor_class == cls]

    inv_fnd_grp = inv_cls_filt.groupby(["investor_object_id", "funded_object_id"]).count()
    old_cols = inv_fnd_grp.columns
    inv_fnd_grp = inv_fnd_grp.reset_index()
    inv_fnd_grp.columns = ["investor_id", "object_id"] + [col for col in old_cols]
    inv_fnd_grp.drop(old_cols, axis=1, inplace=True)

    # label funded objects as successful
    inv_fnd_grp = inv_fnd_grp.merge(df_company_mod[["id","success"]], left_on="object_id", right_on="id", how="inner")

    # group by investor id and sum successes
    inv_fnd_grp = inv_fnd_grp.groupby("investor_id").sum()["success"].reset_index()
    inv_fnd_grp.columns = ["investor_id", "num_success"]

    # group investments by funded companies
    fnd_inv_grp = inv_cls_filt.groupby(["funded_object_id", "investor_object_id"]).count()
    old_cols = fnd_inv_grp.columns
    fnd_inv_grp = fnd_inv_grp.reset_index()
    fnd_inv_grp.columns = ["object_id", "investor_id"] + [col for col in old_cols]
    fnd_inv_grp.drop(old_cols, axis=1, inplace=True)

    # merge with investor-success group
    fnd_inv_grp = fnd_inv_grp.merge(inv_fnd_grp, on="investor_id", how="inner")

    # group by funded companies and sum
    fnd_inv_grp = fnd_inv_grp.groupby("object_id").sum()["num_success"].reset_index()
    fnd_inv_grp.columns = ["object_id", colnm]
    
    df_company_mod = df_company_mod.merge(fnd_inv_grp, left_on="id", right_on = "object_id", how="left")
    df_company_mod.drop("object_id", inplace=True, axis=1)

    # fill nan values
    df_company_mod[colnm] = df_company_mod[colnm].apply(lambda x: 0 if np.isnan(x) else x)
    
# compute total number of successes across all types of investors
df_company_mod["total_investor_successes"] = \
    df_company_mod["fin_inv_successes"] + df_company_mod["comp_inv_successes"] + df_company_mod["ppl_inv_successes"]

In [23]:
def encoding_helper(x):
    try:
        x.encode("utf-8")
    except:
        x = x.decode("latin-1")
        x = x.encode("utf-8")
    
    return x

df_company_mod["overview"] = df_company_mod["overview"].apply(lambda x: x if type(x) == str else "")
df_company_mod["overview"] = df_company_mod["overview"].apply(lambda x: encoding_helper(x))

In [24]:
# topic features from overview (no topic binning)
v = TfidfVectorizer(stop_words="english")
ov_x = v.fit_transform(df_company_mod["overview"])
ov_x = ov_x.toarray()
ov_feats = pd.DataFrame(ov_x, columns=v.get_feature_names())
ov_feats = ov_feats.reset_index()
df_comp_ov = df_company_mod.reset_index()
df_comp_ov = df_comp_ov.merge(ov_feats, on="index", how="inner")
df_comp_ov.drop("index", inplace=True, axis=1)

In [ ]:
# use tag list and run custom OHE

In [36]:
# board members
df_company_mod = df_company_mod.merge(df_board, left_on="id", right_on="object_id", how="left")
df_company_mod.drop("object_id", inplace=True, axis=1)

In [37]:
# large number of companies without recorded board members - 10630
# set um board members to 0
df_company_mod["num_board_members"] = df_company_mod["num_board_members"].apply(lambda x: 0 if np.isnan(x) else x)

In [38]:
# set target var
target_map = {class_var:idx for idx, class_var in enumerate(set(df_company_mod["status"].tolist()))}
df_company_mod["class"] = df_company_mod["status"].apply(lambda x: target_map[x])

In [35]:
# check unique cities and countries
# volume indicates whether column should be kept OHE
print len(set(df_company.city.tolist()))
print len(set(df_company.country_code.tolist()))
print len(set(df_company.state_code.tolist()))
print len(set(df_company.region.tolist()))

2132
84
52
1285

In [39]:
# OHE categorical columns

# drop_cols = ["state_code", "region", "city"]
# df_company_mod.drop(drop_cols, inplace=True, axis=1)

categorical_cols = ["category_code", "country_code"]
df_encode = pd.get_dummies(df_company_mod, columns=categorical_cols)

In [40]:
df_company_mod.columns

Index([           u'category_code',                     u'city',
                   u'country_code',         u'first_funding_at',
            u'first_investment_at',               u'founded_at',
                 u'funding_rounds',        u'funding_total_usd',
                             u'id',       u'invested_companies',
                u'last_funding_at',       u'last_investment_at',
                     u'milestones',                 u'overview',
                         u'region',            u'relationships',
                     u'state_code',                   u'status',
                       u'tag_list',        u'num_ppl_investors',
             u'num_comp_investors',        u'num_fin_investors',
                u'total_investors',                      u'age',
                  u'delta_funding',                  u'success',
              u'ppl_inv_successes',       u'comp_inv_successes',
              u'fin_inv_successes', u'total_investor_successes',
              u'num_board_members',                    u'class'],
      dtype='object')

In [41]:
omit_features = ["category_code", "city", "country_code", "first_funding_at", "first_investment_at", "founded_at", 
                 "id", "last_funding_at", "last_investment_at", "overview", "region", "relationships", "state_code",
                 "status", "tag_list", "success", "class"]

# temporarily remove time-features due to volume of NaNs
omit_features.append("delta_funding") # 8013
omit_features.append("age") # 5728

In [43]:
# train
features = list(set(df_encode.columns) - set(omit_features))
X = df_encode[features].values
y = df_encode["class"].values
X_train = X[:int(len(X)*0.7)]
X_test = X[int(len(X)*0.7):]
y_train = y[:int(len(y)*0.7)]
y_test = y[int(len(y)*0.7):]

In [ ]:
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [48]:
logreg = LogisticRegression(verbose=2)
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)
# need to revisit class sampling - imbalanced support values
print classification_report(y_test, y_pred)

[LibLinear]             precision    recall  f1-score   support

          0       0.72      1.00      0.84      2832
          1       0.00      0.00      0.00       287
          2       0.00      0.00      0.00       815

avg / total       0.52      0.72      0.60      3934

In [310]:
# linear svm - very slow
lin_svc = SVC(kernel="linear", verbose=True)
lin_svc.fit(X_train, y_train)
y_pred = lin_svc.predict(X_test)
print classification_report(y_test, y_pred)

In [56]:
# random forestt
rf = RandomForestClassifier(n_estimators=100)
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)
print classification_report(y_test, y_pred)

             precision    recall  f1-score   support

          0       0.83      0.95      0.88      2832
          1       0.58      0.36      0.45       287
          2       0.81      0.51      0.63       815

avg / total       0.81      0.81      0.80      3934

In [57]:
# naive bayes
nb = GaussianNB()

In [58]:
nb.fit(X_train, y_train)

GaussianNB()

In [59]:
y_pred = nb.predict(X_test)

In [60]:
print classification_report(y_test, y_pred)

             precision    recall  f1-score   support

          0       0.72      1.00      0.84      2832
          1       0.64      0.03      0.06       287
          2       0.00      0.00      0.00       815

avg / total       0.57      0.72      0.61      3934

In [109]:
df_relationships.head(2)

,created_at,end_at,id,is_past,person_object_id,relationship_id,relationship_object_id,sequence,start_at,title,updated_at
0,2007-05-25 07:03:54,None,1,0,p:2,1,c:1,8,None,Co-Founder/CEO/Board of Directors,2013-06-03 09:58:46
1,2007-05-25 07:04:16,None,2,1,p:3,2,c:1,279242,None,VP Marketing,2010-05-21 16:31:34

In [29]:
# try labelling as board member
df_relationships["on_board"] = df_relationships["title"].apply(lambda x: "board" in x.lower())

In [30]:
df_board = df_relationships[df_relationships["on_board"]]

In [31]:
df_board = df_board.groupby(["relationship_object_id", "on_board"]).count()["person_object_id"]

In [32]:
df_board = df_board.reset_index()

In [33]:
df_board.drop("on_board",inplace=True,axis=1)

In [34]:
df_board.columns = ["object_id", "num_board_members"]

In [35]:
df_board.head()

  object_id  num_board_members
0       c:1                  5
1     c:100                  1
2    c:1001                  1
3   c:10015                  2
4  c:100155                  4